name: Build the container image

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master
  release:
    types:
      - published

jobs:

  build:
    name: Build the container image
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build the container image
        uses: docker/build-push-action@v4
        with:
          build-args: |
            BUILDKIT_INLINE_CACHE=1
          cache-from: |
            ghcr.io/${{ github.repository_owner }}/wormgas
          load: true
          tags: ghcr.io/${{ github.repository_owner }}/wormgas

      - name: Log in to GitHub container registry
        if: github.event_name == 'push' || github.event_name == 'release'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          password: ${{ github.token }}
          username: ${{ github.repository_owner }}

      - name: Push latest image to registry
        if: github.event_name == 'push'
        run: docker image push ghcr.io/${{ github.repository_owner }}/wormgas

      - name: Tag and push release image to registry
        if: github.event_name == 'release'
        run: |
          docker image tag ghcr.io/${{ github.repository_owner }}/wormgas:latest ghcr.io/${{ github.repository_owner }}/wormgas:${{ github.event.release.tag_name }}
          docker image push ghcr.io/${{ github.repository_owner }}/wormgas:${{ github.event.release.tag_name }}
