name: Deploy

on:
  push:
    branches:
      - master

concurrency:
  group: deploy

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Deploy
        run: sh ci/ssh-deploy.sh
        env:
          SSH_HOST: ${{ secrets.ssh_host }}
          SSH_PRIVATE_KEY: ${{ secrets.ssh_private_key }}
          SSH_USER: ${{ secrets.ssh_user }}
